$dark-blue: #006597;
$light-blue: #41aadd;
$light-gray: #d8d5e9;

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.main {
  background-image: linear-gradient(to top, $light-blue, $dark-blue);
  width: 100%;
  height: 100%;
}

.row {
  margin: 0 !important;
}

#search-box {
  > div {
    margin-top: 5% !important;
    height: 7vh;
    background: $light-gray;
  }
}

#content {
  > div {
    background-color: $light-gray;
    height: 50vh;
    border-radius: 41px;
    -webkit-border-radius: 41px;
    -moz-border-radius: 41px;
    -ms-border-radius: 41px;
    -o-border-radius: 41px;
  }

  > #right-panel {
  }

  > #left-panel {
    text-align: center;

    > #dataAndTime {
      height: 30%;

      > #times {
        margin-top: 20px;
      }
      > #dates {
        display: flex;
        justify-content: space-between;
      }
    }

    > #timer {
      height: 40%;
      > #title {
        color: red;
      }
      > #start {
        margin-top: 20px;
        color: #41aadd;
        button {
          width: 60%;
          border: none;
          cursor: pointer;
          border-top-right-radius: 50%;
          border-top-left-radius: 50%;
          border-bottom-right-radius: 50%;
          border-bottom-left-radius: 50%;
          padding: 10px;
          font-weight: 600;
          background-color: green;
        }
      }
    }
  }

  margin-top: 4% !important;
  margin-left: 2vw !important;
  margin-right: 2vw !important;
}
